#imagenes{
    width: 150px;
    height: 150px;
    
}



.caja{
    width: 680px;
    position: relative;
    margin: 0 auto;
    background: url(imagenes/textura.jpg);
    padding: 60px;
    display: inline-block;
}
nav{
    position: absolute;
    top: 94px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px
}

nav a {
    text-transform:uppercase ;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;

}
.productos{
    width: 680px;
    margin: 0 auto;
    padding: 30px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:0 1.1%;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius:10px 
  
}
.productos li:hover{
    border-color: #c78c19;
}
.productos li:active{
    border-color: #088c19;
}
.titulo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
   
}
.productos li:hover .titulo{
    font-size: 20px;
}
.productos img{
    width: 180px;
    height: 180px;
}

.descripccion{
    font-size: 18px;
}
.precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(imagenes/fondo.jpg);
    padding:30px;

}
footer img{
    width: 120px;
    height: 120px;
}
.copyrigth{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;

}